body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    background-color: white;
	color: #000;
	padding: 15px;
	box-sizing: border-box;
    z-index: 1;
    
    
}

header .logo {
    padding-left: 40px;
}

h4 {
 margin: 5px 0;   
}

h5 {
    font-size: 1em;
    font-weight: unset;
}

header img {
    width: auto;
    height: auto;
  }

main {
	margin-top: 100px;
	margin-bottom: 70px;
	padding: 20px 0;
	box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
  }

.user {
    max-width: 120px;
    width: 120px;
    position: sticky;
    margin-left: calc(100% - 150px);
}

.user .grid{
    column-gap: 50px;
    grid-template-columns: 25% 50% 25%;
    padding: 10px;
}

.col-10 {
    float: left;
    width: 10%;
  }

  .col-15 {
    float: left;
    width: 15%;
  }

  .col-20 {
    float: left;
    width: 20%;
  }

  .col-25 {
    float: left;
    width: 25%;
  }

  .col-40 {
    float: left;
    width: 40%;
  }

  .col-45 {
    float: left;
    width: 45%;
  }

.col-33 {
    float: left;
    width: 33.33%;
  }
  .col-50 {
    float: left;
    width: 50%;
  }
  .col-60 {
    float: left;
    width: 60%;
  }
  .col-80 {
    float: left;
    width: 80%;
  }

  .click-through {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    margin-bottom: 40px;
  }

  .click-through .click-through-text {
    flex: 1;
    order: 1;
    width: 60%;
  }

  .click-through .click-through-text .box {
    min-width: 300px;
    width: calc(60% - 20px);
    max-width: 540px;
    margin: auto;
    padding-left: 15px;
    padding-top: calc(50% - 210px);
  }

  .click-through .click-through-img {
    flex: 1;
    order: 2;
    width: 40%;
  }

  .click-through .click-through-text h1 {
    margin: 5px 0;
    font-size: 3em;
  }

  .click-through .click-through-text a {
    margin: 5px 0;
    font-size: 20px;
  }

  .click-through img {
    width: 80%;
    height: auto;
  }

  .how-work {
    padding: 20px 0;
    background-color: #f5f5f5;
  }
 
  .how-work .box{
    text-align: center;
    max-width: 600px;
    margin: auto;
  }

  .how-work .row {
    padding: 10px 35px;
  }

  .how-work .text-box {
    padding: 0 35px;
  }

  .power-up {
    background-color: #f5f5f5;
  }


  .power-up .text-img{
    position: absolute;
    color: white;
    text-align: center;
    padding: 0 5%;
    padding-top: calc(25% - 400px);
  }

  .power-up .row {
    padding: 50px 75px;
  }

  .power-up .box {
    padding: 10px;
  }

  .power-up .text-box {
    text-align: center;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -10px;
    top: 40px
  }

  .text-gray {
    color: gray;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	color: #000;
	box-sizing: border-box;
    padding: 5px 20px;
}

footer .row {
    padding: 5px 0;
}

footer .logo {
    padding-left: calc(40% - 45px);
}

footer .menu {
    padding-left: 10px;
    max-width: 140px;
}

footer img {
    width: 70px;
}

footer .icon {
    text-align: right;
    padding-right: 25px;
}

footer .social-icon {
    padding: 0 10px;
    width: 40px;
    height: auto;
}

.menu {
    display: flex;
    padding-top: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex: 1; 
  }
  
  nav ul li {
    margin: 0 25px;
    position: relative;
  }
  
  nav ul li.menu-icon {
    margin: 0;
    display: block;
    position: absolute;
    left: 20px; 
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }
  
  nav ul li.menu-icon a {
    font-size: 14px;
  }
  
  nav ul li.menu-icon a span {
    display: block;
  }
  
  @media (max-width: 1024px) {

    .hamburger {
        position: fixed;
        right: 15px;
    }

    .row:after {
        display: flex;
        clear: both;
      }

      main {
        margin-bottom: 200px;
    }


      .menu {
        display: flex;
        padding-top: 0;
    }

      h5 {
        font-size: 0.83em;
        font-weight: unset;
    }

    .how-work .text-box {
        margin-top: -50px;
        padding: 0 70px;
      }
    

      .click-through {
        flex-direction: column;
      }

      .click-through .click-through-text {
        order: 2;
        width: 100%;
      }

      .click-through .click-through-text .box {
        padding-top: 10px;
        width: 100%;
        min-width: 100%;
        max-width: auto;
      }
    
      .click-through .click-through-img {
        order: 1;
        width: 100%;
      }
    
      .click-through .click-through-text h1 {
        margin: 5px 0;
      }
    
      .click-through img {
        width: 100%;
        height: auto;
      }

     .col-10, .col-15, .col-20, .col-25, .col-33, .col-40, .col-45, .col-50, .col-60 {
        float: left;
        width: 100%;
      }

    header .menu {
        display: none;
    }

    .header-grid {
        display: grid;
        grid-template-columns: 80% 20% 0%;
        padding: 10px;
      }
    
      .header-grid-item {
        column-gap: 50px;
        grid-template-columns: 10% 80% 10%;
        padding: 10px;
      }


    .user {
        display: none;
    }

    .power-up .row {
        margin-top: -17px;
        padding: 0;
    }

    .power-up .box {
        width: 100%;
        padding: 10px 0;
    }

    .power-up .text-img {
        max-height: 35vw;
        overflow: hidden;
    }

    .power-up h5 {
        font-size: 1em;
        font-weight: bold;
    }

    footer .logo {
        padding-left: 5px;
    }

    footer .icon {
        text-align: left;
    }

    footer .menu {
        max-width: none;
        width: 100%;
    }

    



    nav ul {
        justify-content: flex-end; 
      }
      
      nav ul li.menu-icon {
        position: static; 
        margin-right: auto;
        display: contents;
      }
      
      nav ul li:not(:last-child) {
        display: none;
      }
      
      nav ul li.menu-icon a span:before {
        content: "";
        font-size: 16px;
        margin-right: 5px;
      }
      
      nav ul li.menu-icon.active ~ li {
        display: block;
      }
  }
